{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the Home page.</h1>
                <p>Testing the cache.</p>

                <img src="/static/images/gopher.png" alt="image of Go gopher">
            </div>
        </div>
    </div>
{{end}}